@import url("fonts.css");
body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
}

.table-wrapper {
    overflow-x: auto;
    max-height: 500px;
}

table {
    width: 100%;
    margin: 0 auto;
    
}